<button (click)="goback()">GoBack</button>
<p *ngIf="!recipeonloadboolen">Loading Recipe. Please wait for a moment....</p>
<div class="recipe panel panel-default" *ngIf="recipeonloadboolen">

  <div class="panel-heading">
    <h3 class="panel-title data-title">{{recipe.title}}</h3>
  </div>
  <div class="panel-body">
    <div class="cover-photo-holder">
      <img src="{{recipe.cover_image ? recipe.cover_image : '/assets/no_image.png'}}">
    </div>
    <p>{{recipe.description}}</p>
    <div class="time_to_prepare" style="float: left; font-weight: bold; width: 150px;">
      Prepration Time:
    </div>
    <div>
      {{recipe.preparation_time}}
    </div>
    <div class="time_to_prepare" style="float: left; font-weight: bold; width: 150px;">
      Feed to How Many:
    </div>
    <div>
      {{recipe.feeds_this_many}}
    </div>
    <div id="ingredients">
      <h4>ingredients</h4>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">
          {{ingredient.ingredient}} , {{ingredient.measure}}
        </li>
      </ul>
    </div>
    <div id="instructions">
      <h4>instructions</h4>
      <ol>
        <li *ngFor="let instruction of recipe.instructions">
          {{instruction.instruction}} , {{instruction.photo}}
        </li>
      </ol>
    </div>
  </div>

</div>