div.input-group {
    margin: 5px 0;
    width: 100%;
}

div.newrecipe {
    max-width: 500px;
}

div.ingredient input.form-control {
    width: 40%;
    display: inline;
}

div.ingredient {
    margin-bottom: 7px;
}

div.ingredient a, div.instruction a {
    cursor: pointer;
    font-size: 80%;
}

div.instruction input.form-control {
    width: 60%;
    display: inline;
}

div.instruction {
    margin-bottom: 7px;
}

div.add-ingredient input, div.add-instruction input {
    width: 50px;
}

input.ng-invalid {
    border-left: 5px solid red;
}

input.ng-valid {
    border-left: 5px solid green;
}

textarea.ng-invalid {
    border-left: 5px solid red;
}

textarea.ng-valid {
    border-left: 5px solid green;
}
.add-ingredient input {
    background-color: #7f0d00;
    border-color: #7f0d00;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.add-instruction input {
    background-color: #7f0d00;
    border-color: #7f0d00;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.disabled_recpie {
    cursor: default;
    color: #fff;
    background: #803f00;
    border-color: #803f00;
}
.recipe_new_add {
    background-color: #7f0d00;
    border-color: #7f0d00;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.file_class{
    background-color: #7f0d00;
    border-color: #7f0d00;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}