
<div class="alert alert-primary" role="alert" *ngIf="loadEror">
    {{errorText}} <a [routerLink]="['/recipe']" class="alert-link">Go to main page</a>. Give it a click if you like.
  </div>
<h2 class="text-center recipedescription">List of all Recipe</h2>

<p *ngIf="!recipeloadboolean" style="color: blue;">Wait for recipe to load.Still Loading.....</p>
<p *ngIf="recipeloadboolean && (!recipes || !recipes.length)">Recipe list is empty..Why can't you add one now</p>
<!--one way banding variable using [recipe] and the value is recipe that will take input to a summery page-->
<app-recipe-summery *ngFor="let recipe of recipes" [recipe]="recipe"  (userClicked)="userClickedOnRecipe($event)"></app-recipe-summery>
<div style="clear: both;"></div>

